<navbar authenticated="$storage.authenticated" user="$storage.user"></navbar>
<sidebar authenticated="$storage.authenticated" user="$storage.user"></sidebar>
<div class="sidebar-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Xen Informations</h3>
          </div>
          <div class="panel-body">
            <div class="list-group">
              <a href class="list-group-item" ng-click="CtrlXenDashboard.doShowDetail(xenhost.hostname)" ng-repeat="xenhost in CtrlXenDashboard.xenlist">{{xenhost.title}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9" ng-show="CtrlXenDashboard.show_detail">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Detail View: {{CtrlXenDashboard.xenhost_selected.host[0].xen_hostname}}<span ng-click="CtrlXenDashboard.doHideDetail()" class="pull-right glyphicon glyphicon-remove pointer"></span>
            </h3>
          </div>
          <div class="panel-body">
            <tabset>
              <tab heading="Cluster Informations">
                <table class="table table-bordered table-condensed">
                  <thead>
                    <tr>
                      <th>Hostname</th>
                      <th>No. of CPUs</th>
                      <th>Memory Total (GiB)</th>
                      <th>Memory Used (GiB)</th>
                      <th>Memory Free (GiB)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="xenhost_detail in CtrlXenDashboard.xenhost_selected.host">
                      <td>{{xenhost_detail.xen_hostname}}</td>
                      <td>{{xenhost_detail.xen_no_of_cpus}}</td>
                      <td>{{xenhost_detail.xen_memory_total}}</td>
                      <td>{{xenhost_detail.xen_memory_used}}</td>
                      <td>{{xenhost_detail.xen_memory_free}}</td>
                    </tr>
                  </tbody>
                </table>
              </tab>
              <tab heading="Virtual Machines">
                <table class="table table-bordered table-condensed table-hover">
                  <thead>
                    <tr>
                      <th>DomID</th>
                      <th>VM Name</th>
                      <th>Memory Static Max (GiB)</th>
                      <th>Memory Dynamic Max (GiB)</th>
                      <th>Power State</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="vm in CtrlXenDashboard.xenhost_selected.vms">
                      <td>{{vm.vm_domid}}</td>
                      <td>{{vm.vm_name}}</td>
                      <td>{{vm.vm_memory_static_max}}</td>
                      <td>{{vm.vm_memory_dynamic_max}}</td>
                      <td>{{vm.vm_power_state}}</td>
                    </tr>
                  </tbody>
                </table>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
      <div class="col-lg-9" ng-hide="CtrlXenDashboard.show_detail">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              XenHost Data Charts <span class="pull-right glyphicon glyphicon-refresh pointer" ng-click="CtrlXenDashboard.doChartRefresh()"></span>
            </h3>
          </div>
          <div id="chartWrapper" class="panel-body" style="height: 500px">
            <chart-stacked-bar data="CtrlXenDashboard.chart"></chart-stacke-bar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
