<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">DC² AdminCenter</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">IPAM <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#ipam/ipnetworks">IP Networks</a></li>
            <li><a href="#ipam/domains">Domains</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
          <form id="login-form">
            <div class="form-group">
              <label for="loginEmail">E-Mail</label>
              <input type="text" id="loginEmail" class="form-control" autofocus name="loginEmail" ng-model="user.email" placeholder="Your Login E-Mail Address" />
            </div>
            <div class="form-group">
              <label for="loginPassword">Password</label>
              <input type="password" id="loginPassword" class="form-control" autofocus name="loginPassword" ng-model="user.password" placeholder="Your Login Password" />
            </div>
            <div class="form-group"> 
              <select ng-model="user.auth_type">
                <option value="local" selected>Local</option>
              </select>
            <div class="form-group">
              <button class="btn btn-primary pull-right" ng-disabled="user.email == null || user.email == '' || user.password == null || user.password == ''" ng-click="doLogin(user)">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>