<navbar authenticated="$storage.authenticated" user="$storage.user"></navbar>
<sidebar authenticated="$storage.authenticated" user="$storage.user"></sidebar>
<div class="sidebar-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-offset-3 col-lg-9" ng-controller="DashBoardCtrl">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">General Informations</h3>
          </div>
          <div id="myChart" class="panel-body">
            <!-- <nvd3 options="foobar.options" data="foobar.myData"></nvd3> -->
            <chart-stacked-bar data="foobar.myData"></chart-stacke-bar>
          </div>
        </div>
        <button class="btn btn-primary" ng-click="addData()">Add Data</button>
      </div>
    </div>
  </div>
</div>
