<navbar authenticated="$storage.authenticated" user="$storage.user"></navbar>
<sidebar authenticated="$storage.authenticated" user="$storage.user"></sidebar>
<div class="sidebar-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">General Informations</h3>
          </div>
          <div class="panel-body">
            General informations here
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
