<navbar authenticated="$storage.authenticated" user="$storage.user"></navbar>
<sidebar authenticated="$storage.authenticated" user="$storage.user"></sidebar>
<div class="sidebar-content-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<table class="table table-condensed table-hover table-bordered">
					<thead>
						<tr>
							<th>IP-Network</th>
							<th>Description</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="ipnetwork in IPNetworkCtrl.ipnetworks">
							<td><a href="#/ipam/ipnetworks/details?ipnetwork={{ipnetwork.ipnetwork|encodeUri}}">{{ipnetwork.ipnetwork}}</td>
							<td>{{ipnetwork.description}}</td>
							<td>
								<button class="btn btn-danger btn-xs pull-right"><i class="glyphicon glyphicon-remove"></i></button>
							</td>
						</tr>
						<tr ng-if="IPNetworkCtrl.add_new">
							<form name="myForm" novalidate class="form-horizontal">
								<td><input type="text" class="form-control input-sm" name="myIpnetwork" ng-model="IPNetworkCtrl.new_ipnetwork.ipnetwork" placeholder="IPNetwork in CIDR Notation"/></td>
								<td><input type="text" class="form-control input-sm" ng-model="IPNetworkCtrl.new_ipnetwork.description" placeholder="Description"/></td>
								<td><button ng-click="IPNetworkCtrl.doSave(IPNetworkCtrl.new_ipnetwork)" class="btn btn-primary btn-xs pull-right" value=""><i class="glyphicon glyphicon-ok"></i></button>&nbsp;<button ng-click="IPNetworkCtrl.doCancelSave()" class="btn btn-xs btn-danger pull-right"><i class="glyphicon glyphicon-remove"></i></button></td>
						</tr>
						</form>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<button ng-click="IPNetworkCtrl.doAdd()" ng-disabled="IPNetworkCtrl.in_add_action" class="btn btn-primary pull-right">Add IPNetwork</button>
			</div>
		</div>
	</div>
</div>
