<navbar authenticated="$storage.authenticated" user="$storage.user"></navbar>
<sidebar authenticated="$storage.authenticated" user="$storage.user"></sidebar>
<div class="sidebar-content-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li ng-repeat="crumb in breadcrumb.split('/')">{{crumb | capitalize}}</li>
				</ol>
			</div>
		</div>
		<div ng-if="!add_user && !edit_user">
			<div class="row">
				<div class="col-lg-12">
					<div class="well well-sm">
						Number Of Registered Users: {{users.length}}
					</div>
					<table class="table table-condensened table-hover table-bordered">
						<thead>
							<tr>
								<th>Username</th>
								<th>E-Mail</th>
								<th>Name</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in users" ng-class="{'danger':user.is_deleted, 'success':!user.is_deleted}">
								<td>{{user.username}}</td>
								<td>{{user.email}}</td>
								<td>{{user.name}}</td>
								<td align="right">
									<button ng-click="doEdit(user)" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-edit"></i></button>
									<button ng-if="! user.is_deleted" ng-click="doDisable(user)" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i></button>
									<button ng-if="user.is_deleted" ng-click="doEnable(user)" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-ok"></i></button>
								</td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="pull-left">
						<button ng-click="doAddUser()" class="btn btn-sm btn-primary">Add User</button>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="add_user && !edit_user">
			<user-settings new-user="add_user" user="new_user" edit-enable="true"></user-settings>
		</div>
		<div ng-if="! add_user && edit_user">
			<user-settings new-user="add_user" user="user_to_edit" edit-enable="true"></user-settings>
		</div>
	</div>
</div>
