<navbar authenticated="$storage.authenticated" user="$storage.user"></navbar>
<sidebar authenticated="$storage.authenticated" user="$storage.user"></sidebar>
<div class="sidebar-content-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header"><h1>XenServer</h1></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="pull-right">
					<button class="btn btn-primary">Add</button>
				</div>
			</div>
		</div>
		<div class="hspacer"></div>
	  <div class="row">
	    <div class="col-lg-12">
	      <table class="table table-bordered">
	        <thead>
	          <tr>
	            <th>Title</th>
	            <th>XenServer</th>
	            <th>Username</th>
	            <th>Action</th>
	        </thead>
	        <tbody>
	        </tbody>
	      </table>
	    </div>
	  </div>
	</div>
</div>
